openai==0.28.1
tiktoken
transformers
torch
pyttsx3
moviepy
pillow
ffmpeg
bing_image_downloader
edge_tts
vtt_to_srt3
ckiptagger
rembg
requests
opencv-python
numpy
ckiptagger
tensorflow # Compile tensorflow with care, might need to install CUDA toolkit
gdown
gradio
# To generate video in ver 1 or 2, you should insure that "微軟正黑體"(msjh.ttc) is in the root folder
