openai==0.28.1
tiktoken
transformers
torch
pyttsx3
moviepy
PIL
bing_image_downloader
edge_tts
vtt_to_srt3
ckiptagger
rembg
requests
ckiptagger
tensorflow # Compile tensorflow with care, might need to install CUDA toolkit
gdown
# To generate video, you should insure that "微軟正黑體"(msjh.ttc) is in the root folder in ver 1 and 2
